@import url('https://fonts.googleapis.com/css?family=Comfortaa');

.btn-grad, .avatar {
    background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%)
}
.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
   width: '70%';
   border: none;
   margin: auto auto 1em auto;
   font-family: 'Comfortaa';
 }
.imagen:hover {
  filter: grayscale(80%);
  cursor: pointer;
}
.dialog{
  width: 60%;
  padding: 2em 3em;
}

.btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
   cursor: pointer;
 }
