.logo{
  margin:auto auto 2% auto;
  padding:13px;
  width:70%;
  height:auto;
  animation: star 8s ease-out ;
}
img{
    width: 100%;
}
/* Keyframes */
@keyframes star {
0% {
    opacity: 0;
    transform: scale(1.5) translateY(-0.75em);
}
20% {
    opacity: 1;
}
89% {
    opacity: 1;
    transform: scale(0.8);
}
100% {
    opacity: 1;
}
}
  