@import url('https://fonts.googleapis.com/css?family=Comfortaa');
body {
    background-image:url(/src/Resources/pokeBolaUniv.webp);
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
}